:root{

	/* theme dimensions */
	--col-width-min: 50vw;
	--col-gutter-width: 60px;
	--col-gutter-width-collapsed: 20px;
	/*--col-width-max: 360px;*/
	--head-height: 60px;
	--cols-per-view: 2;
	--col-gutters-per-view: 3;

	/* colors swatches */

	--darker-grey: #68727b;
	--dark-grey: #a4acb3;
	--grey: #e6e9ec;
	--light-grey: #f5f7f9;
	--red: #ff3e3e;
	--light-red: #ff5a5a;

	/* theme colors */

	--primary: var(--red);
	--light-primary: var(--light-red);

	--row-time-active: var(--light-grey);
	--input-border: var(--grey);
	--placeholder: var(--grey);

}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;

}
*:focus {
	outline:0; /* remove blue glow from inputs */
}
input {
}
input::placeholder {
	color: var(--placeholder);
}
div,
button,
.time,
{
	/* no select */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.city-picker {
    display: grid;
    align-content: top;
    justify-items: center;
}
.city-picker {
}
/*.react-autosuggest__container*/
.city-picker .react-autosuggest__input {

	font-size: 8vw;

	line-height: 24vw;
	font-weight: 700;
	font-family: 'Khula', sans-serif;

	margin: 20px 0 0 0;
	/*padding-bottom: 20px;*/
	border-radius: 0;
	border: none;
	border-bottom: solid 4px var(--red);
	text-align: center;
	/*width: calc(100vw - 80px);*/
	width: 80vw;
	max-width: 800px;

/*	padding: 20px 15px;
	border-radius: 6px;
	border: solid 4px var(--input-border);
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	width: calc(100vw - 80px);
	max-width: 300px;*/
}
.city-picker .react-autosuggest__input::placeholder {
	font-size: smaller;
}
.city-picker.character-count-0 .react-autosuggest__input,
.city-picker.character-count-1 .react-autosuggest__input,
.city-picker.character-count-2 .react-autosuggest__input,
.city-picker.character-count-3 .react-autosuggest__input,
.city-picker.character-count-4 .react-autosuggest__input,
.city-picker.character-count-5 .react-autosuggest__input {

	font-size: 14vw;

}
.city-picker.character-count-6 .react-autosuggest__input,
.city-picker.character-count-7 .react-autosuggest__input,
.city-picker.character-count-8 .react-autosuggest__input, 
.city-picker.character-count-9 .react-autosuggest__input, 
.city-picker.character-count-10 .react-autosuggest__input {

	font-size: 10vw;
}
.react-autosuggest__input--focused {
	border-color: var(--primary);
}
.react-autosuggest__input--open {

	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.react-autosuggest__suggestions-container {
	max-height: 210px;
	overflow-y: scroll;
	border: none;
	border-bottom: solid 1px var(--grey);

}
.react-autosuggest__suggestions-list {
	list-style: none;

}
.react-autosuggest__suggestion {

	height: 60px;
	border: solid 1px var(--input-border);
	border-top: none;
	font-weight: 700;
	font-size: 16px;
	text-align: left;
	cursor: pointer;
	width: 80vw;
	max-width: 800px;
	padding: 0 20px;

}
.react-autosuggest__suggestion > div {
	
	height: 60px;
	display: grid;
	grid-template-columns: auto 1fr;
	align-content: center;
}
.react-autosuggest__suggestion > div > span {
}
.react-autosuggest__suggestion div .country-flag {
	margin-right: 20px;
}

.react-autosuggest__suggestion--highlighted {

	background: var(--light-grey);

}
.app {
  padding: 0;
}

/* TimezoneApp */

.container {
	display: grid;

	/*grid-template-columns: repeat(auto-fit, minmax(var(--col-width-min), 1fr	));*/
	/*grid-auto-columns: minmax(var(--col-width-min), 1fr);*/

	/*grid-template-columns: repeat(0, minmax(var(--col-width-min), 1fr));*/

	/*grid-auto-columns: auto minmax(var(--col-width-min), 1fr);*/

	grid-template-columns: auto;
	grid-auto-columns: auto;

	background: #fff;
	grid-template-rows: 1fr;

}
.container.container-content .item .head {

	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;	
	height: var(--head-height);
	background: #fff;
	border-bottom: solid 4px var(--red);

	display: grid;
	align-items: center;
	justify-items: center;
	/*grid-template-columns: 50px 1fr 50px;*/

	grid-template-columns: 1fr;
}	
.container.container-content .item .head .city-name {
	color: var(--darker-grey);
	cursor: pointer;
}
.container.container-content .item .head > * {
	overflow: hidden;
}
.container.container-header .item .head h3 {
	line-height: var(--head-height);
	/*  	background-color: #447fff;*/
	/*  	color: white;*/
	height: var(--head-height);
}
.item {

	text-align: center;
	grid-row: 1;
  	background: white;
}

.column-gutter {
	min-width: 100%;
	width: var(--col-gutter-width);

	text-align: center;
	grid-row: 1;

	-webkit-transition: width 0.35s; /* Safari */
	transition: width 0.35s;
	background: white;
	/*background: var(--light-grey);*/
}
.column-gutter.collapsed {
	width: var(--col-gutter-width-collapsed);
}
.column-gutter:first-child .swap,
.column-gutter:last-child .swap {
	display: none;
}
.column-gutter.empty * {
	display: none;
}
.column-gutter .inner {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	display: grid;
}
.column-gutter .head .btn {
	width: 100%;
	padding: 0;
	font-size: 16px;
	color: var(--dark-grey);
	background:none;
	height: var(--head-height);
	padding-bottom: 4px; /* extra to account for border */
}
.column-gutter .head .btn.active,
.column-gutter .head .btn:hover {
	color: var(--red);
	background: none;
}
.column-gutter .options {
	display: grid;
	grid-template-columns: 100%;
}
.column-gutter .options .btn {
	margin: 0 auto 10px auto;
}
.city {
	min-width: 100%;
	background: #fff;
	/*width: 180px;*/
	width: calc(
		(100vw
		-
		(var(--col-gutter-width-collapsed)*var(--col-gutters-per-view)))
		/
		var(--cols-per-view)
		);
	-webkit-transition: all 0.35s; /* Safari */
	transition: all 0.35s;
	opacity:1;
}
.city.collapsed {
	/*width: calc(180px - var(--col-gutter-width-expanded));*/
	width: calc(
		(100vw
		-
		(var(--col-gutter-width)*var(--col-gutters-per-view)))
		/
		var(--cols-per-view)
		);
}
.city.highlighted {
	opacity:0.01;
}
.city.highlighted * {
}
.city h3 {
}
.city ul {

}
.city ul li {
/*	padding: 10px;
*/	list-style: none;
	cursor: hand;
}
.city ul li:nth-child(even) {
	/*background: #f0f4f7;*/
}
.city.city-new  {
	display: grid;
	justify-items: center;
	position: -webkit-sticky;
	position: sticky;
	top: var(--head-height);
	padding-top: 40px;

	width: 100vw;
}
.city.city-new > * {
	margin-bottom: 20px;
}
.row-time {
	display: grid;
	grid-template-columns: 1fr;
	/*padding: 0 10px;*/
}
.row-time > div {
	/*height: 100px;*/
}
.row-time.active {
	background: var(--row-time-active);
}
.row-time.active .label {
	border-color:  var(--row-time-active);
}
.row-time.before-active .label {
	border-color: white;
}
.city.active .row-time.active {
	/*background: rgba(230,235,240,0.8);*/
	cursor: pointer;
}

.row-time .label {
	padding: 20px 0;
	border-bottom: solid 4px var(--light-grey);
	/*display: grid;*/
	/*grid-template-columns: 1fr 1fr;*/

}
.label-day {
	width: 100%;
	display: block;
	color: var(--dark-grey);
	font-weight: bold;
	font-size: 11px;
	/*font-family: 'Khula', sans-serif;*/
	/*text-align: right;*/
}
.label-time {
	/*font-size: 16px;*/
	font-size: 16px;
	font-family: Roboto, Arial, Helvetica;
	font-weight: bold;
	color: var(--darker-grey);
	width: 100%;
	display: block;
	margin-bottom: 6px;
	/*text-align: left;*/
}
.btn {
	font-weight: bold;
	cursor: pointer;
	border: none;
	padding: 10px 14px;
	font-size: 13px;
	border-radius: 4px;
}
.btn-circle {
	padding: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 20px;
}
.btn-circle.btn-small {
	width: 30px;
	height: 30px;
	font-size: 12px;
}
.btn-rectangle.btn-small {
	font-size: 10px;
	padding: 8px 10px;
}
.btn-primary {
	background: var(--primary);
	color: white;

}
.btn-primary:hover {
	background: var(--light-primary);
}
.btn-secondary {
	background: var(--light-grey);
	color: var(--darker-grey);
}
.btn-secondary:hover {
	background: var(--grey);
}
.btn-secondary.active {
	background: var(--primary);
	color: white;
}
.btn-bottom-left {
	position: fixed;
	left:    20px;
	bottom:   20px;
}
.btn-bottom-right {
	position: fixed;
	right:    20px;
	bottom:   20px;
}
.container-full-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /*background: rgba(51,51,51,0.7);*/
    background: white;
    z-index: 10;
}
.date-picker {
    display: grid;
    align-content: center;
    justify-items: center;
}
.date-picker .label-day-month {
	font-size: calc(13vw + 30px);
	line-height: 1em;
	font-weight: 700;
	font-family: 'Khula', sans-serif;
	margin-bottom: -1vw;
}
.date-picker .label-year {
	display: grid;
	grid-template-columns: 60px 1fr 60px;
	text-align: center;
	align-items: center;
	justify-items: center;
	padding-top: 10px;
	padding-bottom: 5vw;
}
.date-picker .label-year > span {
	font-size: 10vw;
	line-height: 1em;
	font-weight: 700;
	font-family: 'Khula', sans-serif;
	display: inline-block; 
	margin-bottom: -3vw;
}
.date-picker .month-buttons {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 
		1fr 1fr 1fr 1fr
	;
	margin-bottom: 30px;
}
.date-picker .month-buttons > * {
	/*margin: 10px;*/
}
.date-picker .month-buttons .action-buttons {
	grid-column: 1 / -1;
	display: grid;
	grid-gap: inherit;
	grid-template-columns: 1fr 1fr;
}
.day-slider {
	grid-column: 1 / -1;
	margin-bottom: 20px;
	/*padding: 0 40px;*/
	display: grid;
	grid-template-columns: 30px 1fr 30px;
	text-align: center;
}
.day-slider > span {
	font-size: 12px;
	font-weight: bold;
	color: var(--dark-grey);
}
/*.day-slider > span:first-child {
	text-align: left;
}
.day-slider > span:last-child {
	text-align: right;
}*/
.rc-slider .rc-slider-track {
	background-color: var(--primary);
}
.rc-slider .rc-slider-handle {
	border-color: var(--primary);
}
.rc-slider .rc-slider-handle:hover,
.rc-slider .rc-slider-handle:focus,
.rc-slider .rc-slider-handle:active {
	border-color: var(--primary);
	box-shadow: none;
}
.country-flag {
	/*border-radius: 50%;*/
	border-radius: 3px;
/*	border: var(--grey) solid 2px;
  	box-sizing: content-box;*/
}

/* animations */

.pulse {
  animation: anim-pulse .8s;
  animation-iteration-count:1;
}
@keyframes anim-pulse {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}

.scale-up {
  animation: anim-scale-eup .35s;
  animation-iteration-count:1;
}
@keyframes anim-scale-eup {
  0% {
    transform: scale(.1);
  }
  100% {
    transform: scale(1);
  }
}

.loop {
  animation-iteration-count:infinite;
}

@media only screen and (min-width: 480px) {

	:root{
		/*--col-width-min: 33.33vw;*/
		--cols-per-view: 3;
		--col-gutters-per-view: 4;
	}
	.date-picker .month-buttons {
		grid-template-columns: 
		1fr 1fr 1fr 1fr 1fr 1fr
		;
	}
}
@media only screen and (min-width: 768px) {

	:root{
		--cols-per-view: 4;
		--col-gutters-per-view: 5;
	}
	.date-picker .month-buttons {
		grid-template-columns: 
		1fr 1fr 1fr 1fr
		1fr 1fr 1fr 1fr
		1fr 1fr 1fr 1fr
		;
	}
}
@media only screen and (min-width: 992px) {

	:root{
		--cols-per-view: 6;
		--col-gutters-per-view: 7;
	}
	.date-picker .month-buttons {
		grid-template-columns: 
		1fr 1fr 1fr 1fr
		1fr 1fr 1fr 1fr
		1fr 1fr 1fr 1fr
		;
	}
}


