:root{

	/* theme dimensions */

	--col-width-min: 50vw;
	/*--col-width-max: 360px;*/
	--head-height: 60px;

	/* colors swatches */

	--dark-grey: #a4acb3;
	--grey: #e6e9ec;
	--light-grey: #f5f7f9;
	--red: #ff3e3e;
	--light-red: #ff5a5a;

	/* theme colors */

	--primary: var(--red);
	--light-primary: var(--light-red);

	--row-time-active: var(--light-grey);
	--input-border: var(--grey);
	--placeholder: var(--dark-grey);

}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*:focus {
	outline:0; /* remove blue glow from inputs */
}
input {
}
input::placeholder {
	color: var(--placeholder);
}
/*.react-autosuggest__container*/
.react-autosuggest__input {
	padding: 20px 15px;
	border-radius: 6px;
	border: solid 1px var(--input-border);
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	width: calc(var(--col-width-min) - 40px);
}
.react-autosuggest__input--focused {
	border-color: var(--primary);
}
.react-autosuggest__input--open {

	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.react-autosuggest__suggestion {
	
	padding: 20px;
	border: solid 1px var(--input-border);
	border-top: none;
	
	font-weight: 700;
	font-size: 16px;
	text-align: left;
	cursor: pointer;
	width: calc(var(--col-width-min) - 40px);
}
.react-autosuggest__suggestion div {
	
	display: grid;
	grid-template-columns: auto 1fr;
}
.react-autosuggest__suggestion div .country-flag {
	margin-right: 20px;
}

.react-autosuggest__suggestion--highlighted {

	background: var(--light-grey);

}
.app {
  padding: 0;
}

/* TimezoneApp */

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--col-width-min), 1fr));
	grid-auto-columns: minmax(var(--col-width-min), 1fr);
/*	grid-template-columns: minmax(var(--col-width-min), var(--col-width-max));
	grid-auto-columns: minmax(var(--col-width-min), var(--col-width-max));*/
	/*grid-gap: 10px;*/
	background: #fff;
	/*width: calc(var(--col-width-min) * 8);*/
	/*width:100px;*/
	grid-template-rows: 1fr;
/*	justify-items: center;
	justify-content: center;*/

}
.container.container-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
/*  display: flex;
  flex-wrap: wrap;
  align-items: center;*/
  width: 100%;
/*	background-color: #fff;
	border-bottom: solid 4px var(--red);*/
	
}
.container.container-header .head {
	display: grid;
	grid-template-columns: 50px 1fr 50px;
	align-items: center;
	justify-items: center;
	border-bottom: solid 4px var(--grey);
}	
/*.container.container-header .head .city-name {
	grid-column: 1 / -1;
}*/
.container.container-header .head > * {
	overflow: hidden;
}
/*.container.container-header .head > *:nth-child(1) {
	justify-self:left;
	margin: 0 10px;
}	
.container.container-header .head > *:nth-child(3) {
	justify-self:right;
	margin: 0 10px;
}*/	
.container.container-header .item {
	height: var(--head-height);
	padding: 0 10px;
/*  	background-color: #447fff;*/
}
.container.container-header .item h3 {
	line-height: var(--head-height);
	/*  	background-color: #447fff;*/
	/*  	color: white;*/
	height: var(--head-height);
}
.container.container-content {
/*	padding-top: var(--head-height);*/
}
.container.container-content .item.set{
  margin-top: 4px;
}
.item {
	text-align: center;
	grid-row: 1;
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
  background: white;
}
.item.new {
	/*grid-column: span 2;*/
}
.city {
	background: #fff;
}
.city h3 {
}
.city ul {

}
.city ul li {
/*	padding: 10px;
*/	list-style: none;
	cursor: hand;
}
.city ul li:nth-child(even) {
	/*background: #f0f4f7;*/
}
.city.city-new  {
	display: grid;
	justify-items: center;
/*	align-content: center;*/
	position: -webkit-sticky;
	position: sticky;
	top: var(--head-height);
	/*height: 100vh;*/
	padding-top: 40px;
}
.city.city-new > * {
	margin-bottom: 20px;
}
/*.city.city-new  .head{ 
	width: calc(var(--col-width-min) - 40px);
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	text-align: left;
}
.city.city-new  .btn{ 
	justify-self: right;
}*/
.city.active .row-time {
/*	background: rgba(230,235,240,0.2);*/
}
.row-time {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 10px;
}
.row-time.active {
	background: var(--row-time-active);
}
.row-time.active .label {
	border-color:  var(--row-time-active);
}
.row-time.before-active .label {
	border-color: white;
}
.city.active .row-time.active {
	/*background: rgba(230,235,240,0.8);*/
	cursor: pointer;
}

.row-time .label {
	padding: 20px 10px;
	border-bottom: solid 1px #eaeff3;

}
.label.label-day {
	color: #8996a2;
	/*text-align: right;*/
}
.label.label-time {
	/*text-align: left;*/
}
.btn {
	font-weight: bold;
	cursor: pointer;
	border: none;
	padding: 10px 14px;
	font-size: 13px;
	border-radius: 4px;
}
.btn-circle {
	padding: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 20px;
}
.btn-circle.btn-small {
	width: 30px;
	height: 30px;
	font-size: 12px;
}
.btn-rectangle.btn-small {
	font-size: 10px;
	padding: 8px 10px;
}
.btn-primary {
	background: var(--primary);
	color: white;

}
.btn-primary:hover {
	background: var(--light-primary);
}
.btn-secondary {
	background: var(--light-grey);
	color: black;
}
.btn-secondary:hover {
	background: var(--grey);
}
.btn-secondary.active {
	background: var(--primary);
	color: white;
}
.btn-bottom-left {
	position: fixed;
	left:    20px;
	bottom:   20px;
}
.btn-bottom-right {
	position: fixed;
	right:    20px;
	bottom:   20px;
}
.date-picker {
	display: none;
}
.date-picker.active {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    background: white;
    z-index: 10;
    display: grid;
    align-content: center;
    justify-items: center;
}
.date-picker h3 {
	font-size: 13vw;
	font-weight: 700;
	font-family: 'Khula', sans-serif;
}
.date-picker .month-buttons {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 
		1fr 1fr 1fr 1fr
	;
	margin-bottom: 30px;
}
.date-picker .month-buttons > * {
	/*margin: 10px;*/
}
.country-flag {
	/*border-radius: 50%;*/
	border-radius: 3px;
/*	border: var(--grey) solid 2px;
  	box-sizing: content-box;*/
}

/* animations */

.pulse {
  animation: scaleme .8s;
  animation-iteration-count:infinite;
}
@keyframes scaleme {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}


@media only screen and (min-width: 480px) {

	:root{
		--col-width-min: 33.33vw;
	}
	.date-picker .month-buttons {
		grid-template-columns: 
		1fr 1fr 1fr 1fr 1fr 1fr
		;
	}
}
@media only screen and (min-width: 768px) {

	:root{
		/*--col-width-min: 180px;*/
		--col-width-min: 240px;
		/*--col-width-min: calc(100vw/6);*/
	}
	.date-picker .month-buttons {
		grid-template-columns: 
		1fr 1fr 1fr 1fr
		1fr 1fr 1fr 1fr
		1fr 1fr 1fr 1fr
		;
	}
}


