:root{

	/* theme dimensions */

	--col-width: 120px;
	--head-height: 60px;

	/* colors swatches */

	--light-grey: #f5f7f9;

	/* theme colors */

	--row-time-active: var(--light-grey);
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.app {
  padding: 0;
}

/* TimezoneApp */

.container {
	display: grid;
	/*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
	grid-template-columns: repeat(auto-fit, minmax(var(--col-width), 1fr));
	/*grid-gap: 10px;*/
	background: #fff;
	grid-auto-columns: minmax(var(--col-width), 1fr);
	/*width: calc(var(--col-width) * 8);*/

}
.container.container-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
/*  display: flex;
  flex-wrap: wrap;
  align-items: center;*/
  width: 100%;
}
.container.container-header .item {
	height: var(--head-height);
}
.container.container-header .item h3 {
	line-height: var(--head-height);
}
.container.container-content {
/*	padding-top: var(--head-height);*/
}
.item {
	text-align: center;
	grid-row: 1;
}
.city {
	background: #fff;
}
.city h3 {
}
.city ul {

}
.city ul li {
/*	padding: 10px;
*/	list-style: none;
	cursor: hand;
}
.city ul li:nth-child(even) {
	/*background: #f0f4f7;*/
}
.city.active .row-time {
/*	background: rgba(230,235,240,0.2);*/
}
.row-time {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 10px;
}
.row-time.active {
	background: var(--row-time-active);
}
.row-time.active .label {
	border-color:  var(--row-time-active);
}
.row-time.before-active .label {
	border-color: white;
}
.city.active .row-time.active {
	/*background: rgba(230,235,240,0.8);*/
	cursor: pointer;
}

.row-time .label {
	padding: 10px;
	border-bottom: solid 1px #eaeff3;

}
.label .label-day {
	color: #8996a2;
}
.label .label-time {

}




