:root{
	--col-width: 120px;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.app {
  padding: 20px 0;
}

/* TimezoneApp */

.container {
	display: grid;
	/*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
	grid-template-columns: repeat(auto-fit, minmax(var(--col-width), 1fr));
	/*grid-gap: 10px;*/
	background: #fff;
	grid-auto-columns: minmax(var(--col-width), 1fr);
	/*width: calc(var(--col-width) * 8);*/

}
.item {
	text-align: center;
	background: grey;
	grid-row: 1;
}
.city {
	background: #fff;
}
.city h3 {
	margin-bottom: 20px;
}
.city ul {

}
.city ul li {
/*	padding: 10px;
*/	list-style: none;
	cursor: hand;
}
.city ul li:nth-child(even) {
	/*background: #f0f4f7;*/
}
.city.active .row-time {
	background: rgba(230,235,240,0.2);
}
.row-time {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 10px;
}
.row-time.active {
	background: rgba(230,235,240,0.4);
}
.city.active .row-time.active {
	background: rgba(230,235,240,0.8);
}
.row-time .label {
	padding: 10px;
	border-bottom: solid 1px #eaeff3;

}
.label .label-day {
	color: #8996a2;
}
.label .label-time {

}




